<div class="jumbotron">
    <h2>Luizalabs Employee Manager</h2>
    <p class="lead">Api developed for employee information service integration</p>
    <p><a href="https://www.getpostman.com/apps" class="btn btn-primary btn-lg">Download Postman and try it &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>List</h2>
        <p>List can be used to get employees information. Very easy to use it. Just do a GET request passing the page_size and the number of the page. eg.: <a href="#">http://localhost:8000/employee/?page_size=2&page=2</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Add</h2>
        <p>You can add new employees by making a POST request with the employee information in the request's body.</p>
        <p>Endpoint: <a href="#">http://localhost:8000/employee/</a></p>
        <p>Body example:</p>
        <p>
<code style=" display: block;  white-space: pre-wrap">{
    "name": "Rodrigo Carvalho",
    "email": "rodrigo@luizalabs.com",
    "department": "IntegraCommerce"
}</code>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Delete</h2>
        <p>It's also possible to remove an employee. All you have to do is make a DELETE request giving the employee's Id</p>
        <p>Endpoint: <a href="#">http://localhost:8000/employee/5</a></p>
    </div>
</div>
